@{ 
    Layout = "";
}

<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google.">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <title>KitandaERP Login</title>
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/xcsslogin/style.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/xcsslogin/alertify.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/css/themes/vertical-modern-menu-template/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!-- END: Custom CSS-->
    <script>
        function EntrarOld()
        {
            var username = $("#txtUsername").val();
            var password = $("#txtPassword").val();

            if (username === "") {
                alert("Digite o Utilizador");
            } else if (password == "") {
                alert("Digite a Senha");
            } else {

                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("Entrar", "Home")',
                        data: {
                            Utilizador: username,
                            CurrentPassword: password
                        },
                        error: function (result)
                        {
                            alert("There is a Problem, Try Again!");
                        },
                        success: function (result)
                        {
                            if (result.Sucesso == false && result.MensagemErro != "") {
                                alert(result.MensagemErro);
                            } else {
                                var url = '@Url.Action("ActionName", "Home")';

                                window.location.href = url.replace("ActionName", result.Url);
                            }
                        }
                    });
            }
        }
    </script>
</head>
<!-- END: Head-->

<body>
    <div class="background-container"></div>
    <div class="login-outer-container">
        <div class="login-inner-container">
            <div class="login">
                <div class="platform-logo">
                    <a pcfg-href="siteUrl" tabindex="-1"><img pcfg-title="brandName" src="../template/app-assets/static/logo_login.png"></a>
                </div>
                <form class="loginContainer" action="" autocomplete="off">
                    <div class="row margin">
                        <div class="input-field">
                            <i class="material-icons prefix pt-2" id="icon1">person_outline</i>
                            <input type="text" name="txtUsername" id="txtUsername">
                            <label for="username" class="center-align">Utilizador</label>
                        </div>
                        <span class="errorText" id="emailError"></span>
                    </div>
                    <div class="row margin">
                        <div class="input-field">
                            <i class="material-icons prefix pt-2" id="icon2">lock_outline</i>
                            <input type="password" name="password" id="txtPassword">
                            <label for="txtPassword">Palavra-Passe</label>
                        </div>
                        <span class="errorText" id="passwordError"></span>
                    </div>
                    <!--validLogin()-->
                    <input type="button" class="button ipbP" id="btnEntrar" value="ENTRAR" onclick="Entrar()"/>
                    <span id="result" class="errorText"></span>
                    <br>
                </form>
            </div>
            <div class="social-info">
                <div class="inner-social-info">
                    <a class="social-info-icon" pcfg-href="brandFacebook" tabindex="-1" target="_blank">
                         Copyright © 2016 - 2020 &nbsp;<b>GC LUCAN</b>&nbsp; Todos direito reservado. 
                        </a>
                </div>
            </div>

        </div>
    </div>

    <script src="~/template/app-assets/js/vendors.min.js" asp-append-version="true"></script>
    <script src="~/template/app-assets/js/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/template/app-assets/vendor/animsition/js/animsition.min.js" asp-append-version="true"></script>
    <script src="~/template/app-assets/js/plugins.js" asp-append-version="true"></script>
    <script src="~/template/app-assets/js/login.js" asp-append-version="true"></script>
    <script src="~/template/app-assets/js/alertify.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
