@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
    <meta name="description" content="">
    <title>KitandaREP | Entrar</title>

    <link rel="stylesheet" type="text/css" href="~/template/app-assets/xcsslogin/style.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/xcsslogin/alertify.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="~/template/app-assets/css/themes/vertical-modern-menu-template/style.css">
    <link href="~/css/proload.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <style> i {color: #2196f3;}</style>

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <div> <img src="~/template/app-assets/static/logo_login.png" class="img_logo" id="teste_position" /> 
              <img src="../images/status.gif" id="gif"/> 
            </div>           
        </div>
    </div>

    <div class="background-container"></div>
    <div class="login-outer-container">
        <div class="login-inner-container">
            <div class="login">
                <div class="platform-logo">
                    <a pcfg-href="siteUrl" tabindex="-1"><img pcfg-title="brandName" src="~/template/app-assets/static/logo_login.png"></a>
                </div>
                <form class="loginContainer" method="dialog" autocomplete="off">
                    <div class="row margin">
                        <div class="input-field">
                            <i class="material-icons prefix pt-2" id="icon1">person_outline</i>
                            <input type="text" name="txtUsername" id="txtUsername" required >
                            <label for="username" class="center-align">Utilizador</label>
                        </div>
                        <span class="errorText" id="emailError"></span>
                    </div>

                    <div class="row margin">
                        <div class="input-field">
                            <i class="material-icons prefix pt-2" id="icon2">lock_outline</i>
                            <input type="password" name="password" id="txtPassword" required>
                            <label for="txtPassword">Palavra-Passe</label>
                        </div>
                    
                        <span class="errorText" id="passwordError"></span>
                    </div>
                    <!--validLogin()-->
                    <input type="submit" class="button ipbP" id="btnEntrar" value="ENTRAR" onclick="Entrar()" />
                    <span id="result" class="errorText"></span>
                    <br>
                </form>
            </div>
            <div class="social-info">
                <div class="inner-social-info">
                    <a class="social-info-icon" pcfg-href="brandFacebook" tabindex="-1" target="_blank">
                        Copyright © 2016 - 2020 &nbsp;<b>GC LUCAN</b>&nbsp; Todos direito reservado.
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/template/app-assets/js/vendors.min.js"></script>
    <script src="~/template/app-assets/js/jquery.validate.min.js"></script>
    <script src="~/template/app-assets/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/template/app-assets/js/plugins.js"></script>
    <script src="~/template/app-assets/js/login.js"></script>
    <script src="~/template/app-assets/js/alertify.js"></script>
    <script src="~/js/proload.js"></script>

    <!--<script src="~/" asp-append-version="true"></script>-->
</body>
</html>
