/* Empresa  oficial*/


.mainp {
    padding-left: 0 !important;
}


.modalPass {
    width: 30% !important;
    z-index: 1003;
    height: 38% !important;
    display: block;
    opacity: 1;
    overflow:hidden !important;
    top: 10%;
    transform: scaleX(1) scaleY(1);
}
.titulo-modal {
    margin-left: 23px;
}
.rep-1 {
    margin-top: 15% !important;
}