/* Preloader  oficial*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
   
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

#teste_position {
    position: absolute;
    top: -53px;
    left: 55px;
    height: 180px;
}

#gif {

    margin-left: 250px;
    margin-top: 64px;
}

